body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.site-title {
    margin: 0;
    font-size: 24px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 20px;
}


.main {
    padding: 20px;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro-content {
    flex: 1;
}

.btn {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}

.intro-image {
    flex: 1;
    text-align: center;
}

.main-img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.feature-section {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
}

.feature-item {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.feature-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-item i {
    font-size: 30px;
    margin-bottom: 10px;
}


.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}


.server-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.server-section p {
    margin: 10px 0;
}

.server-section a {
    color: #007BFF;
}

.server-section a:hover {
    color: #0056b3;
}


.qq-image-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.qq-group-image {
    width: 50px;
    height: auto;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.qq-image-wrapper:hover.qq-group-image {
    width: 70px;
    height: auto;
    }
